* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.project{
    h1 {
        color: azure;
    }
}

body {
    background-color: rgba(0, 0, 0, 0.85);
    color: silver;
}

.main-nav-btn {
    text-decoration:overline silver;
    color: orange;
    font-size: xx-large;
    padding: 5%;
}

.main-nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.main-nav {
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    background-blend-mode: multiply;
}

header {
    background-size: cover;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 1% black;
    background-color: rgba(0, 0, 0, 0.9);
}

#name {
    color: white;
}

#title {
    color:aqua;
    margin: 1%;
}

#github {
    margin: 5%;
    color: brown;
    font-size: large;
    font-weight: bold;
}

#linkedin {
    margin: 5%;
    color:cornflowerblue;
    font-size: large;
    font-weight: bold;
}

#social_links {
    display: inline-block;
    margin: 1%;
}

.main div {
    color: silver;
}

footer {
    color: burlywood;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
}